.mainheder {
    background: #ff0;
    grid-column: 1 / 3;
    grid-row: 1;
}

.panel {
    background: #f0f;
    grid-column: 1;
    grid-row: 2;
}

.content {
    background: #0ff;
    grid-column: 2;
    grid-row: 2;
}
.mainfooter{
    background: #009dff;
    grid-column: 1 / 3;
    grid-row: 3;
}


.wraper {
    display: grid;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 2em;
    grid-gap: 20px;
}

div{
    height: 50px;
}